header {
	background-color: $body-bg;
	display: flex;
	justify-content: space-between;
	padding: 8px 10%;

	.logo-wrapper {
		display: inline-block;
		flex: 1;

		img {
			width: 64px;
		}
	}

	.searchbar-wrapper {
		flex: 3;
	}
	
	.buttons-wrapper {
		flex: 4;
		text-align: right;
		padding-top: 24px;

		ul {
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				list-style-type: none;
				margin-left: 24px;

				a {
					color: $text-color;
					position: relative;
					display: inline-block;
				}

				a:active {
					color: $highlight-color;
				}

				a:after {    
				  content: "";
				  background: none repeat scroll 0 0 transparent;
				  bottom: 0;
				  display: block;
				  height: 2px;
				  left: 50%;
				  position: absolute;
				  background: $highlight-color;
				  transition: width 0.3s ease 0s, left 0.3s ease 0s;
				  width: 0;
				}

				a:hover:after { 
				  width: 100%; 
				  left: 0; 
				}
			}
		}
	
		
	}
	
}

@media screen and (max-width: $breakpoint-tablet) {
	header {
		padding: 8px 40px;
	}
}