
// Typography
$font-size-base: 1rem;
$line-height-base: 1.4;

// Colors
$body-bg: #f8f8f8;
$highlight-color: #ee0039;
$text-color: #333;
$text-color-light: #777;
$light-grey: #ddd;

// Sizes
$logo-width: 80px;