
// Typography
$font-size-base: 1rem;
$line-height-base: 1.4;

// Colors
$body-bg: #fafafa;
$highlight-color: #ee0039;
$success-color: #27bc77;
$info-color: #4489ea;
$text-color: #333;
$text-color-light: #777;
$light-grey: #e8e8e8;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1260px;