.center-container {
	height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .center-container-item {
		padding-bottom: 40px;
		margin: auto;
		position: relative;

    	.logo-wrapper img{
			display: block;
			margin: auto;
			width: $logo-width;
    	}

    	h1 {
    		text-align: center;
    		margin: 4px 0 16px 0;
    	}

    	.feedback {
    		text-align: center;
    		position: absolute;
    		width: 100%;

    		p {
    			animation: fadein .5s;
    		}
    	}
    }
}

.form-wrapper {
	border: 1px solid $light-grey;
	box-shadow: 0 0 2px 2px rgba($light-grey, 0.2);
	border-radius: 4px;
	padding: 28px 24px;
	background-color: white;
	
	.form-input-group {
		margin-bottom: 16px;

		label {
			margin-bottom: 4px;
		}
	}

	button {
		margin-top: 8px;
	}
}

label {
	display: block;
	font-size: 0.8rem;
}

input {
	width: 300px;
	color: $text-color;
	border-radius: 4px;
	padding: 8px 12px;
	font-size: 1rem; 
	appearance: none;
	border: 1px solid $light-grey;
}

input:focus {
	outline: none;
	border-color: transparent;
	box-shadow: 0 0 3px 1px rgba($info-color, 0.7);
}

@media screen and (max-width: $breakpoint-mobile) {
	input {
		width: 220px;
	}
}
