body {
	background-color: $body-bg;
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

main > section:not(.center-container) {
	padding: 32px 25%;
	background-color: $body-bg;
}

footer {
	flex-shrink: 0;
}

a, a:hover, a:focus, a:visited {
	text-decoration: none;
	color: $highlight-color;
}

a:hover {
	color: darken($highlight-color,4%);
}


.full-width {
	width: 100%;
}

.hidden {
	display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-width: $breakpoint-tablet) {
	main {
		width: 100%;
	}
}