body {
	background-color: $body-bg;
}

html, body, main {
	height: 100%;
}

.full-width {
	width: 100%;
}

.hidden {
	display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}