body.homepage {
	.searchbar-wrapper {
		margin-bottom: 48px;

		h1 {
			text-align: center;
			margin-bottom: 24px;
		}
	}

	section {
		padding-top: 8px;
	}

	.categories {
		margin-bottom: 24px;

		ul {
			padding: 0;
			margin: 0;
			display: inline-block;

			li {
				margin: 0;
				padding: 0;
				display: inline-block;
				list-style-type: none;
			}
		}
	}


}